.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 386px;
    height: 507px;
    margin: 0;
    padding: 0;
    background: #F8F8FF;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    background-color: slategrey;
}
.card-image {
    height: 280px;
    width: 100%;
    background-color: sandybrown;
}
.card-content {
    width: 100%;
    height: 227px;
    background-color: seagreen;

}
.card-context {
    padding: 38px 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-tags {
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 70px;
    height: 16px;
    background: #A1D2F6;
    border-radius: 100px;
}
.card-context h1 {
    margin: 16px 0px;
    line-height: 29px;
    font-weight: 600;
    font-size: 24px;
    width: 314px;
    flex-wrap: wrap;

}
.card-author {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
  
  .card__sm {
    font-size: 0.8em;
    margin: 20px;

  }
  .card__md {
    font-size: 1em;

  }
  .card__lg {
    font-size: 1.2em;
  }