.storybook_button {
  
  font-weight: 700;
  letter-spacing: 0.08em;
  border: 0;
  border-radius: 0.5em;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  border-spacing: 0;
  line-height: 1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  transform: scale(0.95);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.storybook_button:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.storybook_button--primary {
  color: #F8F8FF;
  background-color: #2DCC9E;
}
.storybook_button--secondary {
  color: #2DCC9E;
  border: #2DCC9E 2px solid;
  background-color: transparent;
  box-shadow: rgba(78, 75, 75, 0.171) 0px 1px 5px 0px ;
}
.storybook_button__sm {
  font-size: 0.8em;
  padding: 12px 24px;
}
.storybook_button__md {
  font-size: 1em;
  padding: 12px 24px;
}
.storybook_button__lg {
  font-size: 1.2em;
  padding: 16px 32px;
}




