:root {
  --color-secondary: #1ea7fd;
  --color-success: #2DCC9E;
  --color-light: #F8F8FF;
  --color-dark: #181818;
  --color-gray-100: #888888;
  --color-gray-800: #323D50;
  --color-gray-900: #191F29;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

